# ======================
# Python
# ======================
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/
env/
.python-version

# ======================

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# Sistema operativo
# ======================
.DS_Store
Thumbs.db
desktop.ini

# ======================
# Misceláneos
# ======================
*.log
*.bak
*.swp
*.tmp
